COUCH_HOST="https://my.couchdb.com"
COUCH_ADMIN_USER="user"
COUCH_ADMIN_PASS="good_password"
COUCH_PLUGIN_USER="mysync_user"
COUCH_PLUGIN_PASS="good_password"
COUCH_PLUGIN_ROLE="mysync_role"
COUCH_DB="mysync"
